{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrumb %}
Cadastro de usuários
{% endblock %}


{% block title %}
Cadastro de Usuários
{% endblock title %}


{% block tituloPagina %}
Cadastro de Usuários
{% endblock tituloPagina %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <!--{{ form.as_p }}-->
    <button type="submit" class="btn btn-primary">
        Salvar
    </button>


</form>




{% endblock content %}



