{% extends 'base.html' %}


{% block breadcrumb %}
Listando usuários
{% endblock %}

{% block title %}
Listagem de Usuários
{% endblock title %}

{% block tituloPagina %}
Listagem de Usuários
{% endblock tituloPagina %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  {% for usuario in lista %}
    <tr>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.senha }}</td>
      <td>
        <a href="{% url 'user_edit' pk=usuario.pk %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="{% url 'user_delete' pk=usuario.pk %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>

      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
<!--<a href="{% url 'user_new' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>-->

{% endblock content %}