{% extends 'base.html' %}

{% block breadcrumb %}
Cadastro de usuários
{% endblock %}


{% block title %}
Cadastro de Usuários
{% endblock title %}

{% block tituloPagina %}
Cadastro de Usuários
{% endblock tituloPagina %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <style>
	
	#user {color:red;}
	</style>

    <h4> Tem certeza que deseja excluir o Usuário <span id="user">{{ usuario.username }}</span> </h4>
    </br>

    <button type="submit" class="btn btn-primary">
        Remover
    </button>

    
</form>
{% endblock %}